$headline-blue: rgb(33, 154, 213);
$lightBlue: rgb(64, 152, 229);

body {
    background-color: rgb(241, 241, 241);
}
a {
	color: #093d72;
	text-decoration:none;
}
a:hover {
	color: #c74b15;
	text-decoration:none;
}
a:visited {
	color: #093d72;
	text-decoration:none;
}
h1 {
    color: $headline-blue;
    font-size:1.2em;
}
h2 {
	font-family: 'Arial', sans-serif;
	font-size:16pt;
	font-weight:900;
    border-bottom: 3px solid #ccc;
}
h2:hover {
	color: #c74b15;
}
ul {
	list-style:none;
}
.uppercase {
/*    font-family: 'Open Sans', sans-serif; */
    text-transform:uppercase;
}
.span8 {
    margin-bottom:100px;
    overflow-x:hidden;
    overflow-y:scroll;
    height:700px;

}
#blanket {
    background-color: rgba(0, 0, 0, .8);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:1000%;
    z-index:3;
    visibility:hidden;
}
div#blanket div.video-player {
/*    visibility: visible;      */
    width:400px;
    background-color:white;
    padding:20px;
}
div.black-back {
    background-color: rgb(26, 28, 29);
    margin-bottom:20px;
}
div.logo {
    width:1100px;
    margin:0 auto;
}
div.tout {
    border-bottom:1px dotted #ccc;
    display:block;
    padding-top:10px;
    padding-bottom:10px;

}
div.active div.video {
    height:350px;
}
div.tout > div {
    display:inline;
}
@mixin tout-elements {
    background-color:white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius:4px;
}

div.profile {
	margin-left:10px;
    height:116px;
    width:95px;
}
$padding: 8px;
div.profile-img {
    padding-left: $padding;
    padding-top: $padding;
    padding-bottom: $padding;

    @include tout-elements;
}
div.profile img {
    $dimension: 75px;
    border:1px solid black;
    height: $dimension;
    width: $dimension;
}
div.username {
    margin-top:$padding;
}

/*
div.username a {
    color: $lightBlue;
    text-decoration:none;
}
*/

div.video-container {
    @include tout-elements;
    margin-left:14px;
    height:260px;
    width:475px;
}
div.video {
    padding:$padding;
}
div.inactive div.vid-image {
    background-color:black;
    height:200px;
    overflow:hidden;
}
div.inactive div.vid-image img{
    margin: 0 auto;
}
img.play-button {
	position:relative;
	left:45%;
    z-index:2;
}
img.vertical {
    top:-40%;
}
img.horizontal {
}
div.inactive div.vid-image img.poster {
	margin-left: 44px;
/*    padding-top: 30px;  */
}
div.video-player {
	background-color:black;
}
.share-bar-container {
	height:45px;
	position:relative;
    top:-45px;
    overflow-y:hidden;
}
ul.share-bar {
	background-color: rgba(0, 0, 0, 0.5);
	margin-left:0px;
	margin-top:45px;
	padding-bottom:10px;
	width:475px;
}

$share-bar-padding: 30px;	
ul.share-bar li {
	display:inline;
	margin-top:-35px;
	line-height:35px;
	padding-left:75px;
}

div.tout-deets {
    display:inline;
    margin:0 auto;
}
div.tout-deets > div {
    padding:none;
    margin:none;
}
div.tout-text {
    float:left;
    margin-left:15px;
    position:relative;
    top:-25px;
    z-index:3;
}

div#touts-sections {
    margin-top:30px;
}
div.load-more {
    background-color: #E3E3E3;
    border-radius: 5px;
    margin-bottom:40px;
    padding:10px;
    width:100%;
    min-height:30px;
}
div.load-more span.load-more-touts {
    float:left;
}
div.load-more span.tout-count {
    float:right;
}
div.trending-video {
    @include tout-elements;
    float:left;
    width:130px;
}
div.trending-video-info {
    float:right;
    width:130px;
}
.trending-text {
    color:$lightBlue;
    font-weight:bold;
}
.trending-touter, .trending-touter a{
    color:black;
    font-weight:bold;
    text-decoration:none;
}
div.ul-container {
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    margin-top:15px;
    /*min-height:250px; */
    width:300px;
    overflow-x:scroll;
    overflow-y:hidden;
}
div.ul-container h3 {
    font-weight:normal;
    margin-left:18px;
    margin-top:4px;
}
.touts-section {
    list-style-type:none;
    margin-left:0px;
    padding-left:8px;
    overflow-x:scroll;
    overflow-y:hidden;
    height:190px;
    width:670px;
}
.touts-section .tout-in-section {
    /*  @include tout-elements;     */
    float:left;
    margin-right:8px;
    width: 160px;
}

.tout-in-section img.play-button-section {
    position:relative;
    left:10px;
    top:100px;
    z-index:2;
}

div div.clear {
    clear:both;
    display:block;
}

/* overriding video.js */
.video-js .vjs-tech {
    position:static;
}
.touts-section .video-js .vjs-tech {
	height:170px;
}
img.vjs-poster {
    display:none;
}
