<!doctype html>
<html>
    <head>
        <title>WSJ World Stream -- Prototype</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css">
        <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    
        <link rel="stylesheet" href="css/styles.css">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div id="blanket">
            <div class="video-player" style="visibility:hidden;height:0;width:474px;">
                <video controls id="fuck" class="video-js vjs-default-skin" height="300px">
                    <source src="http://videos.tout.com/watermark/mp4/0fe583a5ae6a109ed2809994f1fb00f3.mp4" type='video/mp4' />
                </video>
                <div class="clear"><br /></div>
            </div>
        </div>
        <div class="black-back">
            <div class="logo"><img src="img/wsj-banner-slim.png" /></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12"><h1 class="uppercase">Real Time updates from WSJ reporters from around the World</h1></div>
            </div>
            <div class="row">
                <div class="span8">
                	<h2 class="uppercase">World Stream</h2> 
					<script id="video-player" type="text/template">
						<div class="video-player" style="visibility:hidden;height:0;width:474px;">
							<video controls id="<% print(uid) %>" class="video-js vjs-default-skin" height="<% print(video.mp4.height) %>px" width="<% print(video.mp4.width) %>px">
								<source src="<% print(video.mp4.http_url) %>" type='video/mp4' />
							</video>
						</div>
					</script>
					<script id="main-template" type="text/template">
							<div class="span2 profile">
								<div class="profile-img">
									<img src="<% print(user.avatar.profile.http_url) %>">
								</div>
								<div class="username"><a href="http://www.tout.com/u/<% print(user.uid) %>"><% print(user.fullname || user.friendly_name) %></a></div>
								<div class="time"></div>
							</div>
						<div class="span6 video-container" id="vid-<% print(uid) %>">
							<div class="vid-image">
                                <img class="play-button <% print(playbtn) %>" src="img/wsj-play.png">
								<img class="poster" src="<% print(image.poster.http_url) %>" width="272">
								
								<!--
								<button class="button">Share <img src="//d27rwemj1dwel.cloudfront.net/assets/widget/share_tout.png"></button>
								-->
							</div>
							<div class="share-bar-container">
								<ul class="share-bar arrows-on-video">
									<li><a href="http://facebook.com/sharer.php?u=http://staging.kicktag.com/m/<% print(uid) %> target="_blank"><img src="//d27rwemj1dwel.cloudfront.net/assets/widget/share/facebook.png"></a></li>
									<li><a href="http://www.tout.com/m/<% print(uid) %>/share/twitter" target="_blank"><img src="//d27rwemj1dwel.cloudfront.net/assets/widget/share/twitter.png"></a></li>
									<li><a href="http://www.tout.com/m/<% print(uid) %>/share/pinterest" target="_blank"><img src="//d27rwemj1dwel.cloudfront.net/assets/widget/share/pintrest.png"></a></li>
									<li><a href="http://www.tout.com/m/<% print(uid) %>" target="_blank"><img src="//d27rwemj1dwel.cloudfront.net/assets/widget/share/link.png"></a></li>
								</ul>
							</div>
							<div class="tout-deets">
								<div class="tout-text"><% print(text) %></div>
								<div class="tout-likes">
									<img src="img/thumb.png"><span><% print(likes_count)%> <% if (likes_count!=1) { print('likes'); } else { print ('like'); } %></span>
								</div>
								<div class="clear"><br></div>
							</div>
						</div>
						<div class="clear"><br></div>
					</script>
                </div>
                <div class="span4">
                    <div class="touts-sections">
                        <h2 class="uppercase">Inside WSJ</h2>
                        <div class="ul-container" id="insidewsj"> 
                            <ul class="touts-section">
								<script id="right-template" type="text/template">								
                                    <li class="tout-in-section">
                                       <img class="play-button-section <% print(playbtn) %>" src="img/wsj-play.png">
									   <div class="video" style="background-image:url(<% print(image.thumbnail.http_url) %>); width:130px; height:90px;">
                                           <!-- 
                                            <img width="130px" src="<% print(image.thumbnail.http_url) %>" >
                                           
                                            <video id="<% print(uid) %>" class="video-js vjs-default-skin" preload="auto" width="110px" height="<% print( (110*video.mp4.height)/video.mp4.width ) %>px" poster="<% print(image.thumbnail.http_url) %>" data-setup="{}">
												<source src="<% print(video.mp4.http_url) %>" type='video/mp4'>
                                            </video>
                                            -->
										</div> 
									</li>
								</script>
                            </ul>
                        </div>
                    </div>
                    <div class="touts-sections">
                        <h2 class="uppercase">Trending Topics</h2>
                        <div class="ul-container" id="section1"> 
                            <h3 class="uppercase">Global Markets</h3>
                            <ul class="touts-section">
                            </ul>
                        </div>
                        <div class="ul-container" id="section2"> 
                            <h3 class="uppercase">Personal Finance</h3>
                            <ul class="touts-section">
                            </ul>
                        </div>
                        <div class="ul-container" id="section3"> 
                            <h3 class="uppercase">Capital Markets</h3>
                            <ul class="touts-section">
                            </ul>
                        </div>
                        <!-- commenting out until ajax callbacks are implemented so that load time isn't destroyed
                        <div class="ul-container" id="section4"> 
                            <h3 class="uppercase">Olympics</h3>
                            <ul class="touts-section">
                            </ul>
                        </div>
                        <div class="ul-container" id="section5"> 
                            <h3 class="uppercase">Technology</h3>
                            <ul class="touts-section">
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        
        <script src="js/video.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>

        <script src="js/stream.js"></script>
        
        <script type="text/javascript">
        $(document).ready(function(){
			console.log('doc ready, loading streams');
			
			var main = app.createBoundStream(app.views.MainToutView, '.span8');
			var trending = app.createBoundStream(app.views.SectionToutView, '#insidewsj ul');
			var section1 = app.createBoundStream(app.views.SectionToutView, '#section1 ul');
			var section2 = app.createBoundStream(app.views.SectionToutView, '#section2 ul');
			var section3 = app.createBoundStream(app.views.SectionToutView, '#section3 ul');
			//var section4 = app.createBoundStream(app.views.SectionToutView, '#section4 ul');
			//var section5 = app.createBoundStream(app.views.SectionToutView, '#section5 ul');
	
			app.loadMoreTouts(main, app.streamID['main'], 1, 10);
			app.loadMoreTouts(trending, app.streamID['trending'], 1, 10);
			app.loadMoreTouts(section1, app.streamID['section1'], 1, 10);
			app.loadMoreTouts(section2, app.streamID['section2'], 1, 10);
			app.loadMoreTouts(section3, app.streamID['section3'], 1, 10);
			//app.loadMoreTouts(section4, app.streamID['section4'], 2, 10);
			//app.loadMoreTouts(section5, app.streamID['section5'], 2, 10);
			
			$(document).scroll(function() { 
				app.endlessScroll(main);  
			});
		});
        </script>
    </body>

</html>
